.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-flow: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
    border-radius: 1rem;
    border-color: blue;
    border-radius: 3px;
    /* border-style: solid; */
}

.item{
    border-style: solid;
    border-color: #212121;
    border-radius: 0.5rem;
    border-width: 1px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    align-items: center;
    justify-items: flex-start;
    gap: 1rem 1rem;
    width: 100%;
    transition: 0.3s ease;
}
.item:hover {
    background-color: #181818;
    border-color: #3d3d3d;
    transition: 0.3s ease;
}