html {
  height: 100%;
  width: 100%;
  margin-right: 1rem;
}
body {
  padding: 0.5rem;
  /* margin-left: 2rem; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif ;
    font-size: 17px;
  cursor: none;
  color: gainsboro;
  background-color: black;
  /* min-width: 400px; */
  /* height: 100%; */
  
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #101010;
}

::-webkit-scrollbar-thumb {
  background-color: #282828;
  border-radius: 0.15rem;
}

::-moz-selection {
  background: red;
}
::-webkit-selection {
  background: red;
}
::selection {
  background: red;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #b4b4b4;
    background: black;
  }
}