.container {
    display: flex;
    justify-content: flex-start;
    column-gap: 1rem;
    /* row-gap: 1rem; */
    width: 100%;
}
.list{
    transition: ease 0.2s;
}
.list:hover {
    transition: ease 0.2s;
    color: hsl(0, 100%, 50%);
    font-size: 21px;
}
.list::selection {
    color: white;
}
.minicontainer {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
}